#look-up {
  width: 50%;
}

h1 {
  background-image: url("./../../scss/img/pills.jpg");
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  color: white;
  padding: 40px;
  text-align: center;
}
